footer{
    position: fixed;
    bottom: 0;
    background-color: cadetblue;
}
li{
    list-style-type: none;
}
.navbar{
    padding-right: 60px;
    background-color: cadetblue;

}
.auth-form{
    max-width: 400px;
}